<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongji.master.android.phone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 登陆 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.login.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 注册 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.login.RegisterActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 找回密码 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.login.FoundPasswordActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 用户条款 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.login.UserClauseActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- 人脉 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.contacts.ContactsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 人脉-发布 -->
        <activity
            android:windowSoftInputMode="stateAlwaysVisible"
            android:name="com.zhongji.master.android.phone.activity.contacts.PublishActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 人脉-详情 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.contacts.PersonDetailActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 人脉-动态详情 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.contacts.DynamicDetailActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 人脉-个人中心 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.contacts.CenterActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 人脉-账号设置 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.contacts.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 人脉-修改密码 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.contacts.EditPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 项目 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.project.ProjectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 公司 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.company.CompanyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 产品 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.product.ProductActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 确认找回 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.login.AffirmActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 公司详情 -->
        <activity
            android:name="com.zhongji.master.android.phone.activity.company.CompanyParticularsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>